<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dice Roller
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-button [disabled]="diceReady" (click)="getInterface()" size="large" expand="full" fill="solid" shape="round" color="success">
      Get Interface
    </ion-button>
    <p>Total Connections: {{ uuids.length }} </p>
    <p>{{uuids.toString()}}</p>
    <p> {{ ipAddress }}</p>

    <ion-button (click)="startServer()" expand="block" fill="solid" shape="round">
      Start Server
    </ion-button>

    <ion-input type="text" placeholder="Awesome Input" [(ngModel)]="ipInput"></ion-input>
    
    <ion-button (click)="connectSocket()" expand="block" fill="solid" shape="round">
      CONNECT
    </ion-button>


  </div>
  
</ion-content>
